/*--------------------中间部分banner-------------------------------*/
.content {
    overflow: hidden
}

.banner {
    height: 592px;
    background: #f2f2f2
}

/*-------------焦点图-----------------*/
#solid {
    width: 100%;
    height: 455px;
    clear: both;
    position: relative
}

#solid .solid0, #solid .solid1, #solid .solid2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 452px;
    display: none
}

#solid ul {
    margin: 0px;
    padding: 0px;
    list-style: none
}

#solid ul li {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 450px;
    display: none;
    cursor: pointer
}

#solid #btt {
    width: 100%;
    height: 50px;
    left: -3%;
    top: 400px;
    position: relative
}

#solid #btt span {
    position: absolute;
    top: 15px;
    left: 50%;
    display: block;
    width: 30px;
    height: 8px;
    margin: 0 15px;
    text-align: center;
    background: #3d3d3d;
    z-index: 1000;
    cursor: pointer;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7
}

/*-------------------------------*/
.nav-ban {
    margin-top: 20px;
    float: left
}

.nav-ban .nav-ban-left {
    width: 76px;
    height: 96px;
    float: left
}

.nav-ban .nav-ban-left img {
    float: left
}

.nav-ban-right {
    width: 165px;
    height: 96px;
    float: left;
    margin-top: 10px
}

.nav-ban .nav-ban-right h2 {
    color: #3a3333
}

.nav-ban .nav-ban-right p {
    padding-top: 10px;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    color: #666666
}

/*-------------中间内容panel1------------------*/
.index-panel1 {
    overflow: hidden
}

.index-panel-text {
    height: 170px;
    text-align: center;
    margin-top: 60px
}

.index-panel-text h1 {
    font-size: 48px;
    color: #333333
}

.index-panel-text p {
    font-size: 24px;
    color: #3a3333;
    margin-top: 30px
}

.index-panel1-bg {
    height: 620px;
    background: #5d5a61;
    opacity: 5
}

.index-panel1-info {
    width: 1200px;
    height: 498px;
    margin: 0 auto;
    padding-top: 60px
}

.index-panel1-info ul, li {
    float: left
}

.panel-info-txt {
    width: 390px;
    height: 500px;
    border: 1px solid #cccccc
}

.panel-info-txt h1 {
    color: #FFFFFF;
    font-size: 35px;
    height: 100px;
    line-height: 100px;
    text-align: center
}

/*---------------------------------------------*/
.tv_hot {
    width: 390px;
}

.avatar {
    position: relative
}

.tv_hot .avatar {
    display: block;
    height: 400px;
    overflow: hidden;
    width: 390px
}

.tv_hot .avatar img {
    height: 400px
}

.avatar:after {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 10
}

.avatar:hover, .zhuti .avatar:hover, .bbsinner .avatar:hover {
    box-shadow: 0 0 0 gray
}

.panel-info-txt img {
    transition: all 1s
}

.avatar:hover img, .zhuti .avatar:hover img, .bbsinner .avatar:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3)
}

/*-------------中间内容panel2-----------------*/
.index-panel2-list {
    height: 543px
}

#tab {
    position: relative
}

#tab .tabList ul li {
    float: left;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe, #ededed);
    border: 1px solid #cccccc;
    padding: 20px 0;
    width: 241px;
    text-align: center;
    margin-left: -1px;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    color: #3a3333
}

#tab .tabList ul li:hover {
    color: #34c083;
    border-bottom: 2px solid #34c083;
    z-index: 999
}

#tab .tabCon {
    position: absolute;
    left: -1px;
    top: 60px;
    border-top: none;
    width: 1209px;
    height: 482px
}

#tab .tabCon div {
    padding-top: 13px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0)
}

#tab .tabCon img {
    width: 1210px;
    height: 470px
}

#tab .tabList li.cur {
    border-bottom: none;
    background: #fff
}

#tab .tabCon div.cur {
    opacity: 1;
    filter: alpha(opacity=100)
}

.tabCon div {
    position: relative
}

.tabCon div ul {
    position: absolute;
    width: 223px;
    height: 216px;
    background: rgba(0, 0, 0, .6);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 233px;
    left: 0;
    top: 14px;
    opacity: 0;
    color: #fff
}

.tabCon div ul li {
    float: none;
    line-height: 20px
}

/*-------------中间内容panel3-----------------*/
.index-panel3-list {
    height: 350px;
    background: #ededed;
    padding: 55px 0
}

.index-panel3-list .dd-pp {
    float: left;
}

.index-panel3-list li {
    float: left;
    width: 170px;
    height: 86px;
    border: 1px solid #cccccc;
    background: #FFFFFF
}

.index-panel3-list img {
    margin: 4px auto
}

/*----------登录页面------------*/
.s1 {
    background: #f9f9f9;
    padding: 100px 0;
}

.section-dl {
    width: 990px;
    margin: 0 auto;
    background: url("../images/sofa.jpg") no-repeat;
    height: 290px;
}

.denglu {
    width: 320px;
    float: right;
    padding: 30px;
    background: white;
}

.denglu p {
    font-size: 18px;;
    color: black
}

.denglu p span a {
    font-size: 14px;
    color: #df641e;
    float: right
}

.denglu input {
    width: 100%;
    height: 35px;
    border: none;
    margin-top: 30px;
}

.name {
    background: url("../images/name.jpg") no-repeat 5px 0 #e7e7e7;
}

.password {
    background: url("../images/mima.jpg") no-repeat 5px 0 #e7e7e7;
}

.denglu input[placeholder] {
    text-indent: 45px;
}

.forget a {
    text-align: right;
    font-size: 14px;
    color: #df641e;
    margin: 20px 0 10px 0;
}

.tijiao {
    margin-top: 0;
    background: #df641e;
    font-size: 16px;
    color: white;
    letter-spacing: 16px;
    cursor: pointer;
}

/*-----------注册页面-------------*/
.content-zc {
    margin: 42px 0;
    height: 596px;
    padding-left: 126px
}

/*-----左边-----*/
.zc-xin {
    width: 408px;
    height: 588px;
    padding-left: 35px;
    border: 1px solid #f6f6f6;
    -webkit-box-shadow: 3px 3px 10px #e8e8e8;
    box-shadow: 3px 3px 10px #e8e8e8;
    float: left
}

.zc-xin .zc-nav {
    margin-top: 15px;
    height: 50px;
    line-height: 50px
}

.zc-nav p {
    font-weight: 300;
    font-size: 18px;
    color: #595757
}

.zc-nav span {
    color: #df641e
}

.zc-list {
    height: 490px
}

.zc-list li {
    width: 400px;
    height: 34px;
    margin: 10px 0
}

.list-01 {
    float: left;
    color: #595757
}

.list-01 label {
    font-size: 13px;
    width: 72px;
    float: left;
    height: 30px;
    line-height: 30px
}

.list-01 .text1 {
    width: 238px;
    height: 30px;
    float: left
}

.list-01 p {
    float: left;
    color: #a1a1a1;
    height: 30px;
    line-height: 30px;
    padding-left: 10px
}

.list-01 span {
    color: #df641e
}

.list-01 .sel-01 {
    width: 244px;
    height: 34px;
    float: left;
    color: #a1a1a1
}

.list-02 {
    width: 376px;
    text-align: center
}

.list-02 .button1 {
    width: 100px;
    height: 34px;
    border: none;
    background: #df641e;
    color: #FFFFFF;
    cursor: pointer;
}

/*-----右边-------*/
.content-kind {
    float: left;
    margin-left: 100px
}

.kind-01 {
    margin-top: 34px;
    width: 486px;
    height: 180px;
    float: left
}

.kind-01 h3 {
    font-weight: 300;
    font-size: 18px;
    color: #df641e;
    height: 34px;
    line-height: 34px
}

.kind-01 p {
    font-size: 14px;
    color: #999
}

.kind-01 span {
    color: #595757
}

.kind-02 {
    margin-left: 80px;
    width: 408px;
    height: 210px
}

/*-----------修改密码---------*/
.content {
    overflow: hidden
}

.content-xl {
    margin: 118px 0;
    height: 300px;
    padding-left: 128px;
    float: left
}

.content-xr {
    width: 340px;
    padding: 10px 20px;
    float: left;
    margin: 78px 0 78px 190px;
    border: 1px solid #f6f6f6;
    -webkit-box-shadow: 3px 3px 10px #e8e8e8;
    box-shadow: 3px 3px 10px #e8e8e8
}

.content-xr h3 {
    font-size: 18px;
    color: #df641e;
    height: 50px;
    line-height: 50px
}


.xr-list li {
    margin: 15px 0;
    height: 36px;

}

.list-11 {
    float: left;
   width: 340px;
    height: 32px;
    line-height: 32px;
    font-size: 14px
}

.list-11 label {
    width: 72px;
    float: left;
    color: #6e6e6e;
    font-size: 14px;
}

.list-11 .text1 {
    width: 260px;
    height: 34px;
    float: left;
    border: 1px solid #d7d7d7
}

.list-11 .text2 {
    text-align: center;
    width: 176px;
    height: 34px;
    float: left;
    border: 1px solid #d7d7d7
}

.list-11 .button2 {
    width: 76px;
    height: 34px;
    border: none;
    background: #df641e;
    color: #FFFFFF;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.list-22 {
    margin-left: 70px;
    text-align: center;
}

.list-22 .button1 {
    width: 200px;
    height: 36px;
    border: none;
    background: #df641e;
    color: #FFFFFF;
    cursor: pointer;
}

/* 全屋包 */
/*--------------中间部分----------------*/
.content {
    overflow: hidden
}

.container-nav {
    font-size: 12px;
    background: #efefef;
    line-height: 35px;
    text-indent: 14px;
    color: #3e3a39;
}

.container-nav a {
    display: inline;
    font-size: 12px;
    color: #3e3a39;
}

.container-bg {
    height: 560px;
    background: url("../images/zc-bg.jpg") no-repeat
}

/*--------------panel-----------------*/
.container-panel {
    overflow: hidden;
    border-bottom: 1px dashed #cccccc;
}

.panel-a {
    margin-top: 22px;
    height: 30px
}

.panel-a .put1 {
    float: left;
    width: 15px;
    height: 15px
}

.panel-a p {
    text-align: center;
    width: 55px;
    float: left;
    font-size: 16px;
    color: #595757
}

.panel-a .s2 {
    float: left;
    width: 68px;
    height: 18px;
    font-size: 12px;
    color: #969696
}

.panel-row {
    width: 394px;
    height: 200px;
    border: 1px solid #cccccc;
    float: left
}

.row-l {
    float: left;
    padding: 5px;
}

.row-r {
    margin: 30px 0 0 5px;
    float: left;
    line-height: 1.8;
    color: #595757;
}

.row-r h3 {
    font-size: 16px;
}

.row-r p {
    font-size: 14px;
    padding-top: 12px;
}

.panel-row {
    margin-right: 10px;
    margin-bottom: 10px;
}

/*--------------panel2-------------------*/
.panel-b {
    margin-top: 22px;
    height: 30px
}

.panel-b .put1 {
    float: left;
    width: 15px;
    height: 15px
}

.panel-b p {
    text-align: center;
    width: 100px;
    float: left;
    font-size: 16px;
    color: #595757
}

.panel2-row {
    width: 596px;
    height: 200px;
    border: 1px solid #cccccc;
    float: left;
    margin-bottom: 10px
}

.panel2-row .row2-l {
    padding-left: 110px;
    float: left
}

.row2-r {
    margin: 30px 0 0 10px;
    float: left;
    line-height: 1.8;
    color: #595757
}

.row2-r h3 {
    font-size: 16px
}

.row2-r p {
    font-size: 14px;
    padding-top: 12px
}

/*----------------panel3------------------*/
.container-panel3 {
    overflow: hidden;
    border-bottom: 1px dashed #cccccc;
}

.container-dz .dz-a {
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #cccccc
}

.dz-a p {
    font-size: 16px;
    color: #595757
}

.dz-b {
    height: 200px;
    margin-bottom: 15px
}

.row3-a {
    width: 300px;
    height: 200px;
    border: 1px solid #cccccc;
    float: left;
    border-top: none;
    border-right: none
}

.row3-a h4 {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    color: #595757
}

.row3-a .col-01 img {
    width: 85px;
    height: 40px;
    margin: 0 auto
}

.row3-a .a-col li {
    width: 80px;
    height: 100px;
    float: left;
    padding: 10px 9px
}

.row3-a .col-01 p {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #595757;
    cursor: pointer;

}
.row3-a .a-col input{margin-left: 36px;}
.row3-b {
    width: 403px;
    height: 200px;
    border: 1px solid #cccccc;
    float: left;
    border-top: none;
    border-right: none
}

.row3-b h4 {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #595757
}

.row3-b .col-02 img {
    width: 40px;
    height: 85px;
    margin: 0 auto
}

.row3-b .b-col li {
    width: 80px;
    height: 130px;
    float: left;
    padding: 0 10px 0 10px
}
.row3-b .b-col input{margin-left: 34px;}
.row3-b .col-02 p {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #595757;
    cursor: pointer;
}
.row3-b .b1-col li {
    width: 40px;
    height: 130px;
    float: left;
    padding: 0 10px 0 16px
}

.row3-c {
    width: 503px;
    height: 200px;
    border: 1px solid #cccccc;
    float: left;
    border-top: none
}

.row3-cl {
    float: left;
    padding: 10px 20px 0 25px;
}

.row3-cr {
    margin: 30px 0 0 5px;
    float: left;
    line-height: 1.8;
    color: #595757
}

.row3-cr h3 {
    font-size: 16px
}

.row3-cr p {
    font-size: 14px;
    padding-top: 12px
}

/*--------------------panel3-定制---------------------*/
.row3-11 {
    width: 603px;
    height: 200px;
    border: 1px solid #cccccc;
    float: left;
    border-top: none
}

.row3-11a {
    width: 170px;
    float: left;
    margin-top: 30px;
    margin-left: 20px
}
.row3-12a {
    width: 170px;
    float: left;
    margin-top: 30px;
    margin-left: 10px
}
.row3-12a .c-col li {
    width: 30px;
    height: 60px;
    float: left;
    padding: 10px 2px
}
.row3-12a .col-11a input {margin-left: 4px;}
.row3-11a .col-11a img {
    width: 20px;
    height: 50px;
    margin: 0 auto;
}
.col-11a label{text-align: center;
    display: block;
    cursor: pointer;}
.row3-11a .col-11a input{margin-left: 8px;}
.row3-11a .c-col {
    margin-left: 10px
}

.row3-11a .c-col li {
    width: 30px;
    height: 60px;
    float: left;
    padding: 10px 5px
}

.row3-11 h4 {
    font-size: 14px;
    color: #595757;
    float: left;
    display: block;
    height: 20px;
    width: 170px;
    margin-top: 30px;
    text-align: center
}

.row3-11b {
    width: 180px;
    float: left
}

.row3-11c {
    width: 212px;
    height: 200px;
    float: left
}

.row3-11c {
    margin: 20px 0 0 10px;
    float: left;
    line-height: 1.8;
    color: #595757
}

.row3-11c h3 {
    font-size: 16px;
    color: #595757
}

.row3-11c p {
    font-size: 14px;
    padding-top: 12px;
    color: #595757
}

.row3-b .b1-col input{margin-left: 12px;}
/*---------------------加入购物车-----------------------*/
.container-foot {
    height: 60px
}

.container-foot-a {
    margin: 20px 0;
    height: 36px;
    background: #e5e5e5;
    line-height: 36px
}

.container-foot-a span {
    color: #ed6c00;
    font-size: 18px
}

.container-foot-al .put2 {
    display: block;
    margin: 10px 0 10px 5px;
    width: 15px;
    height: 15px;
    float: left
}

.container-foot-al p {
    font-size: 14px;
    color: #595757;
    float: left;
    padding: 0 20px 0 10px
}

.container-foot-ar {
    float: right
}

.container-foot-ar p {
    padding-right: 36px;
    float: left;
    font-size: 14px;
    color: #595757
}

.container-foot-ar input {
    border: none;
    display: block;
    float: right;
    width: 105px;
    height: 35px;
    background: #ed6c00;
    color: #fdfdfd;
    font-size: 18px
}

/* 加入购物车*/
#top_div {
    bottom: 20px;
    left: 18.2%;
    height: 36px;
    width: 1210px;
    display: none;
    border-top: none;
}

/* 加入购物车*/
/* 全屋包 */

/* 空间包*/
.content {
    overflow: hidden;
}

/*---------------小标题-----------------*/
.public-contain-top {
    font-size: 12px;
    background: #efefef;
    line-height: 35px;
    text-indent: 14px;
    color: black;
     width: 1200px;
    margin: auto;
}

.public-contain-top a {
    display: inline;
    font-size: 12px;
    color: black;
}

.public-contain-content span {
    text-indent: 50px;
    display: block;
    float: left;
    line-height: 37px;
    color: #7b7b7b;
}

.public-contain-content {
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    height: 37px;
}

.public-contain-ul li a {
    display: block;
    float: left;
    padding-left: 5px;
    line-height: 37px;
    width: 70px;
    text-align: left;
    color: black;
}

.public-contain-footer span {
    text-indent: 50px;
    display: block;
    float: left;
    line-height: 37px;
}

.public-contain-spe li a {
    display: block;
    float: left;
    color: black;
    line-height: 37px;
    width: 60px;
    padding-left: 10px;
    text-align: left;
}

.special {
    margin-left: 85px;
    height: 37px;
    border-bottom: 1px dashed #efefef;
}

/*-------------中间包内容-----------*/

/*----------------------------------*/
.public-contain-main{width:1208px; margin:auto;}
.public-contain-main .spe {
    border-left: 3px solid #e37538;
    text-indent: 10px;
    clear: both;
    height: 18px;
}

.public-contain-main .spa {
    height: 10px;
    background: #efefef;
    margin: 40px 0 20px 0;
}

.public-contain-main p {
    margin: 14px 0;
}

.public-contain-main p span {
    font-size: 18px;
    line-height: 18px;
    color: #767676;
}

.public-contain-main-ul .public-contain-main-li {
    float: left;
    width: 393px;
    height: 300px;
}

.center {
    margin: 0 10px;
}

.public-contain-main-ul div {
    position: relative
}

.public-contain-main-ul div a {
    position: absolute;
    top: 6px;
    right: 0;
}

.public-contain-main-ul div {
    height: 50px;
    border: 1px solid #cccccc;
    margin-top: 250px;
    text-indent: 10px;
    color: black;
    font-size: 12px; /* background: url("../image/guwu.png") no-repeat  center  right ;*/
    cursor: pointer;
}
.public-contain-main-ul .public-contain-main-li div span {
    font-size: 16px;
    line-height: 30px;
}

.public-contain-main-ul .public-contain-main-li div p {
    margin-top: 0;
}

.public-contain-main-ul {
    height: 300px;
    margin-bottom: 10px;
}

.public-contain-main-li .img-aa {
    width: 393px;
    height: 249px;
    float: left;
}

hr {
    border: 1px dashed #cccccc;
}

.public-contain-main-li .aa{
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    width: 387px;
    height: 246px;
    float: left;
    padding: 2px;
}
.public-contain-main-li .aa .img-aa{
    width: 386px;
    height: 245px;
}

/*------------下拉加载-----------*/
.public-end {
    padding: 25px;
    clear: both;
}

.public-end a {
    width: 500px;
    background: #f7f6f5;
    text-align: center;
    margin: 0 auto;
    line-height: 25px;
    color: #2b2b2b
}

/*侧边*/
aside {
    position: fixed;
    left: 15%;
    top: 60%;
    width: 80px;
}

aside ul li a {
    width: 45px;
    line-height: 30px;
    font-size: 14px;
    color: #767676;
    border-bottom: 1px dashed #cccccc;
    text-align: center;
}

/* 空间包*/
/*右侧导航*/
.quick_links_wrap, .mui-mbar-tabs {
    height: 100%;
    width: 320px;
    right: 0;
    position: fixed;
    bottom: 0;
    z-index: 9;
    -webkit-transition: width linear .4s;
    -moz-transition: width linear .4s;
    transition: width linear .4s;
    _position: fixed;
    _bottom: auto;
    _top: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight-10);
}

.quick_links_wraper.quick_links_dockright {
    margin-left: 0;
    left: auto;
    right: 4px;
}

.mui-mbar-tabs i, .ibar_closebtn, .login_order, .login_favorite {
    display: inline-block;
    background: url(../images/ibar_sprites.png) no-repeat;
    cursor: pointer;
    height: 19px;
    width: 18px;
    vertical-align: top;
    position: absolute;
}

.quick_links_panel {
    width: 40px;
    height: 100%;
    position: absolute;
    background: #444851;
    z-index: 2;
    top: 0;
    right: 0;

}

.quick_links_panel a {
    display: block;
    line-height: 200px;
    width: 40px;
    height: 38px;
    text-decoration: none;
    color: #d8d8d8;
    font-size: 12px;
    overflow: hidden;
    background-color: #444851;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0px;
    *left: -15px;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.quick_links_panel .quick_toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    background: #444851;
    z-index: 1;
}

.quick_links_panel .mp_tooltip {
    height: 38px;
    line-height: 38px;
    width: 92px;
    position: absolute;
    z-index: 2;
    left: -121px;
    top: 0;
    background: #444851;
    color: #d8d8d8;
    text-align: center;
    display: block;
    visibility: hidden;
}

.quick_links_panel .mp_qrcode {
    padding: 10px;
    width: 148px;
    height: 175px;
    top: -157px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #ccc \0;
    border-top: 1px solid #ccc \0;
    border-bottom: 1px solid #ccc \0;
    z-index: 3;
    position: absolute;
    left: -168px;
    left: -169px \0;
    display: none;
}

.quick_links_panel .icon_arrow_white {
    position: absolute;
    right: -5px;
    top: 172px;
    width: 5px;
    height: 9px;
    background-position: 0 -253px;
}

.quick_links_panel .icon_arrow_right_black {
    position: absolute;
    right: -5px;
    top: 15px;
    width: 5px;
    height: 9px;
    background-position: 0 -234px;
    overflow: hidden;
}

.quick_toggle .return_top {
    display: none;
}

.quick_links_allow_gotop .return_top {
    display: block;
}

.quick_links {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -190px;
    *margin-top: -220px;
    background: #444851;
    z-index: 2;
    width: 40px;
}

.quick_links a.message_list {
    background: url(../images/ibar_sprites.png) no-repeat;
    line-height: 16px;
    height: 133px;
    background-position: -23px -225px;
    color: #fff;
    margin: 20px 0 10px;

}

.quick_links_min .quick_links_panel {
    right: 280px;
}

.quick_links li, .quick_toggle li {
    position: relative;
    display: block;
    left: 0;
    top: 0px;
}

.history_list, .leave_message, .mpbtn_histroy, .mpbtn_wdsc, .mpbtn_recharge {
    margin-bottom: 6px;
}

.quick_links a:hover, .quick_links a.current, .quick_toggle a:hover {
    background:  #ed6c00;
    text-decoration: none;
}

.quick_links a.message_list .span {
    width: 16px;
    display: block;
    height: 48px;
    margin: 38px 0 0 14px;
    cursor: pointer;
}

.quick_links a.message_list .cart_num {
    width: 21px;
    height: 21px;
    display: block;
    border-radius: 50%;
    background:  #ed6c00;
    text-align: center;
    line-height: 21px;
    margin: 9px 0 0 10px;
    cursor: pointer;
    color: #fff;
}

.quick_links i.setting {
    background-position: 0 0;
    width: 18px;
    height: 19px;
    top: 10px;
    left: 11px;
}

.quick_links a:hover i.setting, .quick_links .current i.setting {
    background-position: -33px 0;
}

.quick_links i.message {
    background-position: 0px -29px;
    width: 23px;
    height: 18px;
    top: 11px;
    left: 9px;
}

.quick_links a:hover i.message, .quick_links .current i.message {
    background-position: -33px -29px;
}

.quick_links i.cart {
    background-position: 0px -29px;
}

.quick_links i.view {
    width: 18px;
    height: 18px;
    background-position: 0 -57px;
    top: 10px;
    left: 11px;
}

.quick_links a:hover i.view, .quick_links .current i.view {
    background-position: -33px -57px;
}

.quick_links .qa {
    width: 18px;
    height: 15px;
    background-position: 0 -85px;
    top: 11px;
    left: 11px;
}

.quick_links a:hover i.qa, .quick_links .current i.qa {
    background-position: -33px -85px;
}

.quick_links .zuji {
    width: 11px;
    height: 24px;
    background-position: -4px -110px;
    top: 8px;
    left: 14px;
}

.quick_links a:hover i.zuji, .quick_links .current i.zuji {
    background-position: -36px -110px;
}

.quick_links .chongzhi {
    background: url(../images/chongzhi.png) no-repeat;
    width: 35px;
    height: 35px;
    top: 2px;
    left: 3px;
}

.quick_links .wdsc {
    background: url(../images/wdsc.png) no-repeat;
    width: 35px;
    height: 35px;
    top: 2px;
    left: 3px;
}

.quick_toggle .mpbtn_qrcode {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
    background-position: 0 -302px;
}

.quick_toggle .top {
    background-position: 0 -201px;
    width: 17px;
    height: 14px;
    top: 12px;
    left: 12px;
}

.quick_toggle a:hover .top, .quick_links a.current .top {
    background-position: -33px -201px;
}

.quick_toggle i.kfzx {
    width: 15px;
    height: 16px;
    top: 11px;
    left: 12px;
    background-position: 0 -175px;
}

.quick_toggle a:hover i.kfzx {
    background-position: -33px -175px;
}

/* quick_links_pop */
.quick_links_pop {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    box-shadow: 0 0 5px #999;
    border-radius: 5px 0 0 5px;
    border: 1px solid #999;
    behavior: url(js/htc.htc);
}

.quick_links_pop .arrow, .quick_links_pop .arrow i {
    display: none;
    border-color: transparent #ddd;
    border-style: dashed solid;
    border-width: 12px 0 12px 12px;
    font-size: 0;
    height: 0;
    width: 0;
    position: absolute;
    left: 100%;
    top: 12px;
}

.quick_links_pop .arrow i {
    border-color: transparent #f9fafc;
    margin: -12px 0 0 -13px;
    left: 0;
    top: 0;
}

.quick_links_pop .fix_bg {
    display: none;
    border-top-width: 0;
    border-radius: 0 0 3px 3px;
    margin: 0 0 -4px -250px;
    height: 2px;
    width: 500px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.quick_links_pop .pop_panel {
    font-size: 12px;
    width: 100%;
    height: 628px;
    position: relative;
}

.quick_cart_list, .quick_history_list, .quick_links_pop .links, .quick_my_qlinks, .quick_message_list, .quick_leave_message, .quick_mpbtn_histroy, .quick_mpbtn_wdsc, .quick_mpbtn_recharge {
    position: absolute;
    width: 280px;
    left: 0;
    top: 0;
    background: #fff;
    height: 100%;
    display: block;
}

.quick_cart_list .user_cart_inner, .quick_history_list .history_slider {
    display: block;
    border: 0;
    margin: 0;
    position: static;
}

.quick_cart_list .user_cart_inner .del {
    display: none;
}

.quick_history_list .title i {
    background-position: -170px -34px;
}

.quick_leave_message .title i {
    background-position: -160px 0;
}

.quick_leave_message .types {
    font-size: 0;
    position: absolute;
    left: 148px;
    top: 18px;
    white-space: nowrap;
}

.quick_leave_message .types input, .quick_leave_message .types label {
    font-size: 12px;
    margin-right: 20px;
    vertical-align: middle;
    white-space: nowrap;
}

.quick_leave_message .types input {
    margin: -2px 3px 0 0;
    height: 13px;
    width: 13px;
    *margin-top: 0;
}

.quick_leave_message .txt {
    padding: 15px 0;
}

.quick_leave_message .txt textarea {
    display: block;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff, inset 0 1px 4px rgba(0, 0, 0, .1);
    margin: 0 auto;
    padding: 8px;
    height: 68px;
    width: 90%;
}

.quick_leave_message .token {
    padding: 0 0 14px 16px;
    height: 26px;
}

.quick_leave_message .token input {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 4px;
    width: 76px;
    vertical-align: middle;
}

.quick_leave_message .token img {
    margin-left: 5px;
    vertical-align: middle;
}

.quick_leave_message .btns {
    float: right;
    margin-top: -42px;
    padding-right: 16px;
}

.quick_leave_message .btn {
    background-position: 0 -356px;
    cursor: pointer;
    font-size: 0;
    padding-left: 20px;
    text-shadow: 0 1px 0 #355ba9;
    overflow: visible;
}

.quick_leave_message .btn:hover {
    background-position: 0 -386px;
}

.quick_leave_message .btn span {
    background-position: 100% -356px;
    font-size: 12px;
    padding-right: 20px;
    *height: 29px;
}

.quick_leave_message .btn:hover span {
    background-position: 100% -386px;
}

.quick_links_pop .no_data {
    color: #333;
    font-size: 14px;
    padding: 35px 10px;
    text-align: center;
}

.quick_links_pop .no_data i {
    display: inline-block;
    background: url(../images/cart_new.png) no-repeat 0 -188px;
    margin: 0 10px 0 0;
    height: 36px;
    width: 60px;
    vertical-align: middle;
}

.quick_links_pop .links li {
    border-top: 1px solid #f1f1f1;
    vertical-align: top;
}

.quick_links_pop .links a {
    display: block;
    background: #FCFCFC;
    color: #333;
    font-size: 14px;
    padding: 12px 15px;
}

.quick_links_pop .links a:hover {
    background-color: #F2F3F4;
    color: #4467a7;
}

.quick_links_pop .links .tips {
    float: right;
    color: #61c2ed;
    font-size: 12px;
}

.quick_my_qlinks .title i {
    background-position: -200px 0;
    height: 22px;
    width: 22px;
}

.quick_message_list .title i {
    background-position: -200px -34px;
    height: 22px;
    width: 22px;
}

.quick_message_list .no_data i {
    background-image: url(../images/quick_links_no_msg.png);
    background-position: 0 0;
    height: 45px;
    width: 62px;
}

/*修改*/
.ibar_plugin_title {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #dedede;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    width: 267px;
    margin: 0 auto;
}

.ibar_closebtn {
    width: 20px;
    height: 20px;
    background-position: 5px -267px;
    padding: 5px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    right: 4px;
}

.ibar_plugin_content {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    _height: expression((document.documentElement.clientHeight-100-40)+"px");
    overflow: hidden;
}

.ibar_cart_group {
    width: 250px;
    padding: 0 20px 0 10px;
    background: #fff;
}

.ibar_cart_group_header {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #dedede;
}

.ibar_cart_group_title {
    float: left;
    font-size: 14px;
}

.ibar_cart_group_header a {
    float: right;
    color:  #ed6c00
}

.ibar_cart_group_header a:hover {
    text-decoration: underline;
}

.cart_item {
    padding: 15px 0;
    border-bottom: 1px dotted #ddd;
}

.cart_item_pic {
    position: relative;
    float: left;
    width: 87px;
    height: 87px;
}

.cart_item_pic img {
    width: 85px;
    height: 85px;
    border: 1px solid #f4f4f4;
}

.cart_item_desc {
    float: left;
    width: 150px;
    padding: 3px 0 0 10px;
}

.cart_item_name {
    display: inline-block;
    width: 100%;
    height: 36px;
    overflow: hidden;
    line-height: 18px;
    color: #5c5c5c;
}

.cart_item_sku {
    width: 160px;
    height: 24px;
    line-height: 24px;
    color: #999;
}

.cart_price {
    color:  #ed6c00;
    font-weight: 700;
    font-family: Arial, Helvetica;
}

.cart_handler {
    position: absolute;
    height: 100px;
    bottom: 0;
    width: 100%;
    background: #fff;
}

.cart_handler_header {
    width: 260px;
    margin: 8px 10px;
    float: left;
}

.cart_handler_left {
    float: left;
}

.cart_handler_right {
    float: right;
    font-weight: 700;
    font-size: 16px;
    font-family: Arial;
    color:  #ed6c00;
}

.cart_go_btn {
    display: block;
    height: 33px;
    line-height: 33px;
    font-size: 19px;
    font-family: SimHei;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #ed6c00;
    width: 260px;
    margin: 0 10px;
    float: left;
}

.cart_go_btn:hover {
    color: #fff;
}

.ia-head-list {
    height: 66px;
    width: 244px;
    margin-left: 15px;
    background: #f3f3f3;
    overflow: hidden;
    zoom: 1;
    margin-top: 15px;
    color: #4a4a4a;
}

.ia-head-list a {
    color: inherit;
}

.ia-head-list .pl {
    width: 80px;
    border-right: dashed 1px #ccc;
    height: 47px;
    margin-top: 10px;
    text-align: center;
    float: left;
}

.ia-head-list .num {
    font-size: 16px;
    height: 26px;
    font-family: arial;
}

.ia-head-list .money {
    border-right: 0;
}

.ga-expiredsoon {
    width: 244px;
    margin-left: 15px;
    margin-top: 20px;
}

.ga-expiredsoon .es-head {
    color: #5c5c5c;
    height: 13px;
    border-left: 3px solid #5c5c5c;
    padding-left: 13px;
}

.ia-none {
    background: url(../images/null_icon.png) no-repeat center 50px;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #797979;
}

.jiaru {
    margin-top: 40px;
}

.ibar-history-head {
    position: relative;
    font-size: 14px;
    border-bottom: solid 1px #dedede;
    height: 37px;
    line-height: 37px;
    width: 255px;
    margin-left: 10px;
}

.ibar-history-head a {
    float: right;
    color:  #ed6c00;
}

.ibar-history-head a:hover {
    text-decoration: underline;
}

.imp_item {
    width: 255px;
    padding-top: 10px;
    border-bottom: dashed 1px #d5d5d5;
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: -1px;
    margin-left: 10px;
}

.imp_item .pic {
    float: left;
    display: inline;
    margin-right: 10px;
}

.imp_item .tit {
    height: 40px;
    overflow: hidden;
    width: 140px;
    word-break: break-all;
}

.imp_item .tit a {
    color: #5c5c5c;
    line-height: 18px;
}

.imp_item .tit a:hover {
    color:  #ed6c00;
    line-height: 18px;
}

.imp_item .price {
    color:  #ed6c00;
    font-weight: 700;
    margin-bottom: 10px;
}

.imp_item .price em {
    font-family: arial;
    font-size: 14px;
}

.imp_item .imp-addCart {
    background:  #ed6c00;
    background: -webkit-linear-gradient(top, #ED9C09, #ed6c00, );
    color: #fff;
    width: 90px;
    height: 28px;
    float: left;
    display: inline;
    line-height: 28px;
    text-align: center;
}

.sc {
    float: right;
    line-height: 22px;
    margin-right: 7px;
}

.ibar_recharge_form {
    width: 220px;
    margin: 0 auto;
    padding: 15px 0;
}

.ibar_recharge-field {
    border: 1px solid #ddd;
    height: 30px;
    margin-bottom: 10px;
}

.ibar_recharge-field label {
    width: 40px;
    text-align: center;
    color: #fff;
    background: #737373;
    line-height: 30px;
    float: left;
}

.ibar_recharge-fl {
    position: relative;
    float: left;
    width: 170px;
    padding-left: 5px;

}

.ibar_recharge-iwrapper {
    padding-top: 7px;
}

.ibar_recharge-iwrapper input {
    border: 0;
    outline: 0 none;
}

i.ibar_recharge-contact {
    width: 13px;
    height: 14px;
    background: url(../images/contact.png);
    top: 8px;
    right: 5px;
    cursor: pointer;
}

.ibar_recharge-mod {
    line-height: 30px;
    color: #737373;
    font-weight: 700;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

i.ibar_recharge-arrow {
    width: 6px;
    height: 3px;
    background: url(../images/arrow-down.png);
    top: 14px;
    right: 8px;
    cursor: pointer;
}

.ibar_recharge-vbox {
    border: 1px solid #ddd;
    background: #fff;
    position: absolute;
    left: 0;
    top: 30px;
    width: 177px;
}

.ibar_recharge-vbox li {
    float: left;
    width: 68px;
    border-right: 1px solid #ddd;
    padding: 7px 10px;
    line-height: 1;
    cursor: pointer;
}

.ibar_recharge-vbox li.sanwe {
    border: 0;
}

.ibar_recharge-vbox .selected, .ibar_recharge-vbox li:hover {
    background: #ececec;
}

.ibar_recharge-btn {
    text-align: center;
    padding-top: 3px;
}

.ibar_recharge-btn input {
    border: 0;
    color: #fff;
    display: inline-block;
    width: 115px;
    height: 31px;
    font-size: 16px;
    background: #ed6c00;
    background: -webkit-linear-gradient(top,  #ED9C09, #ed6c00);
    cursor: pointer;
}

.ibar_recharge-btn input:hover {
    background: -webkit-linear-gradient(top, #ED9C09, #ed6c00);
}

.ibar_login_box {
    width: 267px;
    height: 185px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #ccc \0;
    border-top: 1px solid #ccc \0;
    border-bottom: 1px solid #ccc \0;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: -287px;
    left: -288px \0;
    display: none;
}

.ibar_login_box .avatar_box {
    width: 267px;
    overflow: hidden;
    height: 120px;
}

.status_login .avatar_imgbox {
    float: left;
    margin: 6px 20px 0 5px;
    display: inline;
}

.ibar_login_box .avatar_imgbox {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.ibar_login_box .avatar_box p {
    font-size: 14px;
    color: #333;
    text-align: center;
}

.status_login .user_info {
    overflow: hidden;
    color: #333;
    padding-top: 30px;
    line-height: 24px;
    width: 140px;
    float: left;
}

.status_login .user_info li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
}

.ibar_login_box .login_btnbox {
    width: 267px;
    height: 79px;
    border-top: 1px dotted #d5d5d5;
    overflow: hidden;
    padding-top: 15px;
    clear: both;
}

.ibar_login_box .login_btnbox a {
    width: 94px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid;
    color: #333;
    text-decoration: none;
    float: left;
    background-position: 0 -408px;
    background-repeat: repeat-x;
    border-color: #e9e9e9;
}

.ibar_login_box .login_btnbox .login_order {
    margin: 0 10px 0 35px;
}

.ibar_login_box .login_btnbox a:hover {
    text-decoration: none;
    background-position: 0 -366px;
    border-color: #fccadb;
    background: none;
}

.ibar_login_box .login_btnbox .login_favorite {
    border-color: #e9e9e9
}

.ibar_login_box .icon_arrow_white {
    position: absolute;
    right: -5px;
    top: 15px;
    width: 5px;
    height: 9px;
    background-position: 0 -253px;
}

/*飞入购物车*/
#plist {
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    padding-top: 10px;
}

#plist li {
    float: left;
    width: 394px;
    margin-right: 6px;
    margin-bottom: 6px;
    border: 1px solid #cccccc;
}

#plist .extra {
    padding: 2px 0;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    color: #ed6c00,;
    float: left;
    padding-left: 2px;
}

#plist .extra a {
    float: left;
    font-size: 12px;
}

#plist .btns {
    margin-top: 5px;
    zoom: 1;
    height: 50px;
    padding-left: 2px;
    position: relative;
}

#plist .btns a {
    position: absolute;
    right: 10px;
    top:0;
    height: 42px;
    width: 40px;
    display: block;
    background: #f9f9f9 url("../images/guwu.png") no-repeat center;
}

#plist.plist-n7a .p-img {
    height: 240px;
}

.index_banner {
    position: relative;
    margin-bottom: 20px;
    height: 500px;
}

.index_banner li {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.index_banner li a {
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
}

.index_banner .clert {
    width: 100%;
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.index_banner cite {
    z-index: 999;
    height: 15px;
}

.index_banner cite span {
    display: inline-block;
    margin: 0 4px;
    width: 10px;
    height: 10px;
    background-color: #666;
    text-indent: -999em;
    opacity: .8;
    cursor: pointer;
    border-radius: 5px;
}

.index_banner cite span.cur {
    background-color: #000;
    cursor: default;
}

.flei {
    padding-left: 28px;
}

.flei a {
    display: block;
    background: url(store_images/xiala12497.gif) 125px 4px no-repeat;
}

.flei a:hover {
    color: #666;
    text-decoration: none;
}

.flei i {
    display: block;
    width: 8px;
    height: 8px;
    background: url(store_images/xiala12497.gif) -20px -102px no-repeat;
    float: left;
    margin: 10px 8px 0 0;
}



#plist .btns {
    padding: 0 10px;
}
.btns .sp1{font-size: 16px;}

.main {
    width: 1200px;
    margin: 0 auto;
}

.settleup-2013 {
    height: 34px;
    position: fixed;
    right: 45px;
    z-index: 900;
}

.shoping-small {
    width: 119px;
}

.fly_item {
    border: 1px solid #000;
    width: 38px;
    height: 38px;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    opacity: .5;
    filter: alpha(opacity=50);
}

.shop_cart {
    width: 106px;
    height: 25px;
    line-height: 25px;
    padding-top: 8px;
    font-family: 'microsoft yahei';
    font-size: 12px;
    text-indent: 34px;
    color: #000;
    position: absolute;
    right: 50px;
    top: 240px;
}
/*右侧导航*/


/*-----------------------------360体验馆页面---------------------------------*/
.container-nav {
    font-size: 12px;
    background: #efefef;
    line-height: 35px;
    text-indent: 14px;
    color: #3e3a39;
}

.container-nav a {
    display: inline;
    font-size: 12px;
    color: #3e3a39;
}

section {
    width: 1210px;
    margin: 0 auto;
}

.section-wrap p {
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

.section-wrap p span {
    color: #ed6c00;
}

.tiyan-ul li {
    float: left;
    width: 280px;
    height: 260px;
    background: url("../images/tiyan.jpg") no-repeat top;
    margin-bottom: 40px;
}

.spe-li {
    margin: 0 180px;
}

.foot {
    clear: both;
}

.tiyan-ul li img {
    margin: 9px 10px 0 10px;
    width: 262px;
    height: 152px;
}

.tiyan-ul li p {
    color: black;
    font-size: 12px;
    text-align: center;
    margin: 60px 0 0 0;
}

.aaaa {
    width: 0;
    height: 0;
    position: absolute;
    right: -35px;
    top: 0;
    z-index: 999;
    border-top: 25px solid #ccc;
    border-right: 35px solid transparent;
}

.bbbb {
    width: 0;
    height: 0;
    position: absolute;
    left: -35px;
    top: 0;
    z-index: 999;
    border-top: 25px solid #ccc;
    border-left: 35px solid transparent;
}
/*360体验馆*/
/*---------------------加盟合作商页面-----------------------------*/
.content{overflow:hidden}
.container-nav{font-size:12px; background:#efefef; line-height: 35px; text-indent: 14px;color:#3e3a39;}
.container-nav a{display:inline; font-size: 12px;color:#3e3a39;}
/*----------*/
/*发展里程*/
/* history */
.history_L1{background:url(../images/jm-img-01.jpg) no-repeat}
.history_L2{background:url(../images/jm-img-03.jpg) no-repeat}
.history_R1{background:url(../images/jm-img-02.jpg) no-repeat}
.history{width:100%;position:relative;overflow:hidden}
.start-history{width:1210px;margin:10px auto;text-align:center;background:url("../images/jm-1.jpg") no-repeat top center;display:block;overflow:hidden}
.cc_history{color:#2b2b2b;font-size:36px;font-weight:400;display:block;padding-top:90px}
.next_history{font-size:46px;font-weight:600;font-family:Sylfaen;color:#d7d7d7;width:476px;margin:0 auto;padding-top:30px}
.history_left{width:490px;height:1250px;float:left;clear:left;position:relative;overflow:hidden}
.history_L{width:460px;height:284px;float:right;margin-right:500px}
.history_L span{color:#da7c08;font-weight:bold}
.history_2006_span{line-height:30px;color:#ed6c00;font-size:16px;background:black;opacity:0.8}
.history_2006_b{overflow:hidden;margin-top:17px;background:url("")}
.history_l_text{float:left;font-size:14px;display:block;overflow:hidden;line-height:25px;text-align:right;padding-right:5px;padding-top:178px}
.history_l_text p{text-align:center;text-indent:10px;width:460px;padding:5px 0;background:#e5e5e5;color:#3a3333}

.history_right{width:490px;height:1250px;float:right;position:relative;overflow:hidden}
.history_R{width:460px;height:284px;float:left;margin-left:500px}
.history_R span{color:#da7c08;font-weight:bold}
.history-img{width:20px;background:url("../images/jm-2.jpg") center no-repeat;float:left;height:1250px;margin-left:105px;margin-top:99px}
.history_r_2005{margin-top:490px;position:relative;background-position:30px 0}
.history_2005_span{line-height:30px;color:#d43434;font-size:16px;background:black;opacity:0.8}
.history_2005_b{float:right;font-size:14px;display:block;overflow:hidden;line-height:25px;text-align:right;padding-top:198px}
.history_2005_b p{text-align:center;text-indent:10px;width:430px;padding:5px 0;background:#e5e5e5;color:#3b3b3b}
.history_r_text{float:left;font-size:14px;display:block;height:58px;line-height:25px;padding-left:5px;text-align:left}
.year2006{margin-top:260px;position:relative}
.yearalmost,.yearalmost1,.yearalmost2{margin-top:210px;position:relative}
/*发展里程*/

